/* useful  start*/


.t_meta {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

.t_meta {
    font-family: Benton, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.t_meta:before,
.t_meta:after {
    content: "";
    display: block;
}

.t_meta:before {
    margin-top: -1.06429em;
}

.t_meta:after {
    margin-top: -0.36429em;
}



html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    background: transparent;
    vertical-align: baseline;
    word-wrap: break-word;
    font-size: 100%;
}

@-ms-viewport {
    width: device-width;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}



a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.t_tag {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.33333;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.benton-bold-normal-loaded .t_tag {
    font-family: Benton, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.t_tag:before,
.t_tag:after {
    content: "";
    display: block;
}

.t_tag:before {
    margin-top: -1.01667em;
}

.t_tag:after {
    margin-top: -0.31667em;
}

.t_small-listing-title {
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 1.38889;
    font-weight: 400;
    link-underline: "border";
}

.t_small-listing-title:before,
.t_small-listing-title:after {
    content: "";
    display: block;
}

.t_small-listing-title:before {
    margin-top: -1.04444em;
}

.t_small-listing-title:after {
    margin-top: -0.34444em;
}

.t_small-listing-title+.t_meta {
    padding-top: 25px;
}

.t_meta {
    color: #656565;
    padding-top: 15px;
}



.t_small-listing-title {
    padding-top: 20px;
}

.t_thumb+.t_small-listing-title {
    padding-top: 25px;
}



.container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}



.landing-header {
    text-align: center;
}

@media (max-width: 767px) {
    .landing-header {
        padding-top: 20px;
        padding-bottom: 25px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .landing-header {
        padding-top: 70px;
    }
}

@media (min-width: 768px) {
    .landing-header {
        padding-bottom: 45px;
    }
}

@media (min-width: 1024px) {
    .landing-header {
        padding-top: 60px;
    }
}



.landing-header__title {
    font-family: Georgia, serif;
    font-size: 72px;
    line-height: 1.19444;
}


.landing-header__title:before,
.landing-header__title:after {
    content: "";
    display: block;
}

.landing-header__title:before {
    margin-top: -0.81722em;
}

.landing-header__title:after {
    margin-top: -0.37722em;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .landing-header__title {
        font-family: Georgia, serif;
        font-size: 50px;
        line-height: 1.2;
    }

    .brunel-poster-bold-normal-italic-loaded .landing-header__title {
        font-family: Brunel-Poster-Bold, Georgia, serif;
        font-weight: 400;
        font-style: italic;
    }

    .landing-header__title:before,
    .landing-header__title:after {
        content: "";
        display: block;
    }

    .landing-header__title:before {
        margin-top: -0.82em;
    }

    .landing-header__title:after {
        margin-top: -0.38em;
    }
}

@media (max-width: 767px) {
    .landing-header__title {
        font-family: Georgia, serif;
        font-size: 24px;
        line-height: 1;
    }

    .brunel-deck-semibold-normal-italic-loaded .landing-header__title {
        font-family: Brunel-Deck-Semibold, Georgia, serif;
        font-weight: 400;
        font-style: italic;
    }

    .landing-header__title:before,
    .landing-header__title:after {
        content: "";
        display: block;
    }

    .landing-header__title:before {
        margin-top: -0.72em;
    }

    .landing-header__title:after {
        margin-top: -0.28em;
    }
}

.landing-header__nav {
    position: relative;
    padding-top: 75px;
}

.landing-header__nav:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.landing-header__nav:before {
    box-sizing: content-box;
    height: 2px;
    width: 65px;
    border-top: 2px solid #1a1a1a;
    border-bottom: 1px dotted #999;
    display: inline-block;
    vertical-align: top;
}

.landing-header__nav__list {
    margin-left: -35px;
    font-size: 0.9375rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    color: #999;
}

.benton-normal-normal-loaded .landing-header__nav__list {
    font-family: Benton, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.landing-header__nav__list:before,
.landing-header__nav__list:after {
    content: "";
    display: block;
}

.landing-header__nav__list:before {
    margin-top: -0.95em;
}

.landing-header__nav__list:after {
    margin-top: -0.25em;
}




.landing-header--thin {
    padding-bottom: 10px;
}

@media (max-width: 767px) {

    .listing--with-thumb {
        padding-right: 110px;
    }

}

.listing--media {
    position: relative;
}



/* useful  end*/




/*** potential start***/


@media (min-width: 768px) {
    .listing--media+.listing--media {
        position: relative;
    }

    .listing--media+.listing--media:before {
        content: "";
        width: 100%;
        height: 1px;
        border-top: 1px dotted #b2b2b2;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .listing--media+.listing--media {
        position: relative;
    }

    .listing--media+.listing--media:before {
        content: "";
        width: 100%;
        height: 1px;
        border-top: 1px dotted #b2b2b2;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (max-width: 767px) {

    .listing--media,
    .listing--media+.listing--media {
        padding-top: 20px;
        margin-top: 25px;
    }

    .panel-first .listing--media:first-child {
        padding-top: 0;
        margin-top: 0;
        border-top: 0;
    }
}

.listing--media__thumb {
    position: relative;
}

.listing--media__thumb img {
    width: 100%;
    max-width: none;
}

.listing--media__thumb__category {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: #fff;
    padding-top: 20px;
    padding-right: 16px;
    padding-left: 16px;
    white-space: nowrap;
}

.listing--media__thumb__category {
    letter-spacing: 0.2em;
}

.listing--media__meta {
    margin-top: 5px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .listing--media .t_small-listing-title {
        min-height: 60px;
    }
}

@media (max-width: 767px) {
    .listing--media {
        position: relative;
        padding-top: 20px;
        padding-right: 110px;
    }

    .listing--media:before {
        content: "";
        width: 100%;
        height: 1px;
        border-top: 1px dotted #b2b2b2;
        position: absolute;
        top: 0;
        left: 0;
    }

    .listing--media+.listing--media:before {
        width: 100%;
    }

    .listing--media__thumb {
        float: right;
        margin-right: -110px;
        padding-top: 15px;
        width: 80px;
    }

    .listing--media .icon__play--md--white {
        display: none;
    }

    .listing--media .icon__play--sm--white {
        display: block;
    }

    .listing--media .t_small-listing-title {
        padding-top: 30px;
    }
}

.listing--media .icon__play--sm--white {
    display: none;
}

.listing--media__thumb {
    position: relative;
}

.listing--media__thumb img {
    width: 100%;
    max-width: none;
}

.listing--media__thumb__category {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: #fff;
    padding-top: 20px;
    padding-right: 16px;
    padding-left: 16px;
    white-space: nowrap;
}

.listing--media__thumb__category {
    letter-spacing: 0.2em;
}

.listing--media .t_meta--time {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

@media (max-width: 767px) {
    .listing--media .t_meta--time {
        display: none;
    }
}

@media (max-width: 1023px) {
    .listing--media-feature {
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .listing--media-feature {
        padding-bottom: 0;
        text-align: center;
    }

    .listing--media-feature .t_tag {
        bottom: -30px;
    }
}

.listing--media-feature .t_meta--time {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

@media (max-width: 767px) {
    .listing--media-feature .t_meta--time {
        display: none;
    }
}


@media (min-width: 768px) {
    .latest-news .listing__thumb {
        display: none !important;
    }
}




/**useful*/


@media (min-width: 768px) {
    .recent-videos-group {
        margin-top: -30px;
    }
}

@media (min-width: 1280px) {
    .recent-videos-group {
        margin-top: -40px;
    }
}

.recent-videos-group__item {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .recent-videos-group__item {
        padding-top: 30px;
    }
}

@media (min-width: 1280px) {
    .recent-videos-group__item {
        padding-top: 40px;
    }
}


@media (max-width: 767px) {
    .recent-videos-group__item .listing--media {
        border-bottom: none;
        padding-bottom: 0;
    }
}


.related-videos-group .listing--media {
    border-bottom: none;
}
